/* Estilo general para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(221, 213, 213));;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal del chatbox */
.chatbox-container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Encabezado del chatbox */
.chatbox-header {
    background: linear-gradient(to bottom right, rgb(53, 135, 230), rgb(0, 217, 255));
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Área de mensajes */
.chatbox-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Estilo general para los mensajes */
.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

/* Mensajes enviados por el bot */
.bot-message {
    background-color: #e0e0e0;
    color: #333;
}

/* Mensajes enviados por el usuario */
.user-message {
    background-color: #007bff;
    color: #fff;
    margin-left: auto;
}

/* Estilo para los botones de opciones */
.bot-message button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(53, 135, 230), rgb(8, 190, 223));
    color: #fff;
    cursor: pointer;
}

.bot-message button:hover {
    background-color: #0056b3;
}

/* Área de entrada de texto */
.chatbox-input {
    display: flex;
    padding: 10px;
    background-color: #eee;
}

/* Estilo para el campo de entrada de texto */
.chatbox-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* Estilo para el botón de enviar */
.chatbox-input button {
    background: linear-gradient(to bottom right, rgb(53, 135, 230), rgb(8, 190, 223));
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.chatbox-input button:hover {
    background-color: #0056b3
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }